.header {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    background-color: #FFFACD;

}

.links {
    display: flex;
    justify-content: space-between;
    width: 30%;
}